<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <div class="intro">
        <div class="container">
            <h1 class="intro_title">Топ анекдотов за всё время</h1>
        </div>
    </div>
</body>
</html>                                                                                 