<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ahaha & hehehe</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;1,300&display=swap" rel="stylesheet">
</head>
<body>

    <header class="header">
        <div class="container">
            <div class="header_inner">
                <div class="header_logo"><img id="logo" src="~/FinalLogo.png" /></div>
                <nav class="nav">
                    <a class="nav_link" href="#">Генератор мемов</a>                                   
                    <a class="nav_link" href="#">Генератор смешных слов</a>                            
                    <a class="nav_link" href="#">Генератор анекдотов</a>                               
                    <a class="nav_link" href="#">
                    </a>                               
                </nav>                                                                                 
            </div>                                                                                     
        </div>                                                                                         
    </header>                                                                                          
                                                                                                       
    <div class="intro">                                                                                
        <div class="container">                                                                        
                                                                                                       
        </div>                                                                                         
    </div>                                                                                             
</body>                                                                                                
</html>                                                                                                