<link href="/css/User.css" rel="stylesheet" />   
<div class="between">	
	<img src="/img/logo.png" class="ava" >
	<div class="wrap" id="info" >
		<div class="name">Ник</div>
		<div class="date">24.01.2020</div>
		<div class="status">Статус</div>
		<div class="joke">любимый анекдот</div>
		<a href="" class="left url">
			<img src="/img/VK.png">
			<div>vk</div>
		</a>
		<a href="" class="left  url">
			<img src="/img/insta.png">
			<div>ok</div>
		</a>
		<a href="" class="left  url">
			<img src="/img/OK.png">
			<div>instagram</div>
		</a>
	</div>
</div>				                                                                          