<link href="/css/User.css" rel="stylesheet" />
<link href="/css/Home.css" rel="stylesheet" />   
<div class="between">	
	<img src="/img/logo.png" class="ava" >
	<div class="wrap" id="info" >
		<div class="name">Ник</div>
		<div class="date">24.01.2020</div>
		<div class="status">Статус</div>
		<div class="joke">любимый анекдот</div>
		<a href="" class="left url">
			<img src="/img/VK.png">
			<div>vk</div>
		</a>
		<a href="" class="left  url">
			<img src="/img/insta.png">
			<div>ok</div>
		</a>
		<a href="" class="left  url">
			<img src="/img/OK.png">
			<div>instagram</div>
		</a>
	</div>
</div>

<div class="block between">
    <div>
        <a href="/User">
            <img src="/img/logo.png" class="ava">
        </a>
    </div>
    <div class="inner">
        <div class="name">Ник</div>
        <div class="date">24.01.2020</div>
        <div class="anekdot">Муж подговорил знакомого гинеколога прописать жене секс не менее 20 раз в месяц, но секса так и не дождался, хотя по лицу жены было видно, что лечение идет полным ходом...</div>
        <div>
            <div class="like"><img src="/img/Like 1.png" class="like1"></div>
            <div class="dislike"><img src="/img/Like 2.png" class="dislike1"></div>
        </div>

    </div>

</div>				                                                                          