@{ 
    Layout = "_Layout2";
}

<link href="/css/Auth.css" rel="stylesheet" />
<div class="authForm" id="auth">
    <div class="center"><img src="/FinalLogo.png"></div>
    <input name="Name" id="Name" placeholder="Введите имя пользователя" />
    <input name="Password" type="password" placeholder="Введите пароль" />
    <input type="submit" value="Войти" onclick="login()">
    <input type="button" value="Зарегестрироваться" onclick="location.href='/Registration'">
    <div id="message"></div>
</div>                                                                                             