@{ 
    Layout = "_Layout2";
}

<link href="/css/Auth.css" rel="stylesheet" />
<div class="authForm">
    <div class="center"><img src="/FinalLogo.png"></div>
    <input name="Name" placeholder="Введите имя пользователя" />
    <input name="Password" type="password" placeholder="Введите пароль" />
    <input type="submit" name="Login" value="Войти" />
    <input type="button" value="Зарегестрироваться" />
</div>                                                                                             