<div id="app">
	<div class="between">
		<canvas src="canvas" id="mem"></canvas>
	    <div>
	    	<select v-model="type">
	    		<option v-for="type in types" :value="type">{{type}}</option>
	    	</select>
	    	<h3>Тексты</h3>
	    	<div v-for="text,i in texts">
	    		<h4>Текст {{i+1}}</h4>
	    		<div class="textPar">
	    			текст:<input v-model="text.text" v-on:input="input" placeholder="введите текст">
	    			размер:<input v-model="text.size" type="number" v-on:input="input">
	    			цвет:<input v-model="text.fillStyle" type="color" v-on:input="input">
	    		</div>
	    		<button>генерировать текст</button>
	    	</div>
	    	<h3>Картинки</h3>
	    	<div v-for="text,i in imgs">
	    		<h4>Картинка {{i+1}}</h4>
	    		<button>сгенерировать картинку</button>
	    		<button>загрузить картинку</button>
	    	</div>
	    </div>
	</div>  	  
</div>
<style>
	.textPar{
		display: grid;
		grid-template-columns: 1fr 1fr;

	}
</style>




<script src="~/js/Mem.js"></script>                                                                                