<body>
    <div id="anecdote">
        <p>@ViewBag.word</p>
    </div>
    <div class="center">
        <div id="button" , button onClick="window.location.reload();">
            <p id="gen">Сгенерировать</p>
        </div>
    </div>
</body>
<div class="center">
    <!==div id="box"></!==div>
</div>                                           