<body>
    <div>
        <div id="anecdote">
            <p>Борьба с коррупцией (запрещенная на территории РФ деятельность)</p>
        </div>
        <div class="center">
            <div id="button" , button onClick="window.location.reload();"><p id="gen">Сгенерировать</p></div>
        </div>
    </div>
</body>                                                                           