<body>
    <div>
        <div class="buttons">
            <div id="button" , button onClick="window.location.reload();">
                <p id="gen">Сгенерировать</p>
            </div>
        </div>
        <div id="funnyword">
            <p>@ViewBag.word</p>
        </div>

    </div>
</body>