<body>
    <div>
        <div class="buttons">
            <div id="button" , button onClick="window.location.reload();">
                <p id="gen">Сгенерировать</p>
            </div>
        </div>
        <div class="center2">
            <iframe width="790" height="444" pading="0" src="https://www.youtube.com/embed/@ViewBag.word" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
</body>