body {
    margin: 0;
    background: linear-gradient(#ffe66b, #FFC15F)fixed;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 18px;
    color: #373F41;
}

*,
*:before,
*:after {
    box-sizing:border-box;
}


h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;

}

.intro {
    width: 100%;
    height: 100vh;
}

.header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;

    background: white;
    height: 84px;
    width: auto;
    border-radius: 15px;
    margin-top: 35px;
    margin-left: 48px;
    margin-right: 48px;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.25);
    line-height: 84px;
}

.header_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    height: 62px;
    width: 177px;

}

.nav {
    font-size: 14px;

}

.nav_link {
    display: inline-block;
    vertical-align: top;
    margin: 0 10px;

    color: #373F41;
    text-decoration: none;

    transition: color .3s linear;
}



.nav_link:hover {
    color: #EC6F3C;
}



.navbar {
    /*background: white;
    height: 84px;
    width: auto;
    border-radius: 15px;
    margin-top: 35px;
    margin-left: 48px;
    margin-right: 48px;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.25);
    line-height: 84px;*/
}



a.navbar-brand {
    /*white-space: normal;
    text-align: center;
    word-break: break-all;*/
}